/* Global Typography */
body {
  background-color: white;
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 1.5em;
}

/* Body, Header, Etc. */
html,
body {
  min-height: 100vh;
  margin: auto;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  height: 4em;
  background-color: #F5F5DC;
  text-align: center;
  justify-content: center;
  align-items: center;
}

main {
  flex: auto;
  max-width: 80%;
  margin: auto;
}

footer {
  display: flex;
  height: 4em;
  background-color: #F5F5DC;
  text-align: center;
  padding-right: 1em;
  justify-content: center;
  align-items: center;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  width: 100%;
}

/* Form */
form {
  margin: 0 auto;
  padding-top: .25em;
}

input{
  padding: .5em;
  width: 150px;
  background: #F5F5DC;
  border-color: #3b3b4f;
}

button{
  display: block;
  width: 75px;
  margin: 1em auto;
  height: 2em;
  font-size: 1 rem;
  background-color: #F5F5DC;
  border-color: #3b3b4f;
}

/* Table */
table {
  width: 100%;
  text-align: left;
}

table,
th,
td {
  border: solid #3b3b4f;
  border-collapse: collapse;
  height: 2.15em;
}

th,
td {
  padding: .5em;
  min-width: 3.5em;
}

thead {
  background: #F5F5DC;
  color: black;
  text-align: center;
}

tbody tr:nth-child(odd) {
  background: #FFFFF0;
}

tbody tr:nth-child(even) {
  background: #F5F5DC;
}